
*{
    margin: 0px;
}
header{
    width: 100%;
    height: 50px;
    background-color: #041727be;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.adminlogo{
    width: 150px;
    height: 30px;
    margin-left: 20px;
}
.header-box{
    width: 150px;
    height: 35px;
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
}
.profile-pic{
    border-radius: 100px;
    display: flex;
    width: 30px;
    height: 30px;
}
.header-text{
    height: 35px;
    width: 100px;
    color: white;
}
section{
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    background-color: white;
    height: 1000px;
    padding-top: 50px;
    gap: 20px;
}

ul{
    list-style: none;
    background-color: white;
    height: 700px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 20px;
}
li{
    width: 120px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

}
a {
    color:black;
    text-decoration: none;
}
.middle{
    background-color: white;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.top{
    background-color: white;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstbox{
    width: 30%;
    height: 130px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 10px;

}
.innerdiv{
    width: 100px;
    height: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
   justify-content: space-between;
}
.money{
    width: 40px;
    height: 30px;
    border-radius: 10px;
}
.bottom{
    background-color: white;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
 
   
}
.left-widget{
    background-color:white;
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.total{
    font-weight: bolder;
    font-size: 13px;
}
.dollars{
    font-weight: bolder;
    font-size: 25px;
}
.last-24{
    opacity: 0.5;
    font-size: 15px;
}
.sales{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
.table{
    border-radius: 10px;
    border: 1px solid grey;
    background-color: white;
    width: 900px;
}
table{
    border-collapse: collapse;
    margin: 25px 0px;
    background-color: white;
  
}
table thead tr {
    text-align: left;
    font-weight: bold;
}
.start{
    text-align: start;
}
th ,td {
    padding: 10px 20px;
    text-align: center;
    
}
.pending{
    color: orange;
}
.declined{
    color: red;
}
.delivered{
    color: rgb(121, 235, 121);
}
.button-bottom{
    width: 100px;
    height: 50px;
    align-self: center;
    background-color: transparent;
    border: none;
    color: rgb(132, 248, 132);
    cursor: pointer;
}
.firstcontainer{
    width: 100%;
    height:430px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
 
    
   
}

.firstboxdiv{
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
   
   
}
.div-inner{
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.div-inner-box{
    width: 70%;
    height: 70%;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.woman-left-widget{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.recent{
    font-size: 30px;
    font-weight: bolder;
}
.mary{
    font-weight: bolder;
}
.drone{
    color: grey;
}
.minutes{
    opacity: 0.5;
}
.secondcontainer{
    width:100% ;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.secondcontainerbox{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    align-self: center;
    border:1px solid gray;
    border-radius: 10px;
   
}
.onlineorders{
    border-radius: 10px;
    width: 50px;
    height: 50px;
}
.secondinnerbox{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
    gap: 10px;
    justify-content: space-between;
}
.boxone{
    width: 60%;
    height: 50px;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
}
.boxtwo{
    width: 40%;
    height: 50px;
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}
.orders{
    font-weight: bold;
    font-size: 18px;
}
.new{
    width: 100%;
    height: 50px;
    border: 1px dotted green;
    background-color: transparent;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
}
@media screen and (max-width:1000px){
    section .left-widget:nth-child(3){
        display: none;
    }
    .middle{
        margin-left: 200px;

    }

} 
@media screen and (max-width: 1350px){
    header{
        min-width: 1350px;
    }
@media screen and (max-width: 290px) {
        header{
            min-width: 1100px;
        }
    }
    
}
  
   
@media screen and (max-width: 600px) {

    section{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 1300px;
        height: 1000px;
        gap: 0px;
    }
    section .ul :nth-child(1){
        flex-direction: row;
       height: 100px;
       
    }
    ul{
        align-items: center;
    }
       
    
    section .middle .bottom :nth-child(2){ 
        width: 100%;
    }
    .middle{
        margin-left: 10px;
    }
    
}

   @media screen and (max-width:600px ) {
        
        .sales{
            font-size: 50px;
            align-self: center;
        }
        .bottom{
            height:650px;
            
        }
        .table{
            height: 500px;
        }
        .td, th{
            font-size: 40px;
        }
        .firstbox, .innerdiv{
            height: 150px;
           
        }
        .total,.dollars,.last-24{
            font-size: 20px;
        }
        
    }
